.rowContainer{
    width: 100%;
    height: auto;
    margin: 20px;
    background-color: var(--white);
    border-radius: 20px;
    border: 1px solid var(--darkBlue);
}
.stepDescriptionContainer{
    width: 370px;
    height: 110px;
    background-color: var(--lightRose);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 10px 10px 0;
}
.stepDescriptionTitle,
.stepDescriptionText{
    font-size: var(--fontSize24);
    color: var(--white);
    margin: 0;
}
.buttonsRow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px 0;
}