.pageContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pageInnerContainer{
    width: 1200px;
}
.sliderContainer{
    width: 1165px;
    height: 640px;
}
.slick-slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  .sliderWrapper {
    width: 1165px;
    height: 640px;
    margin: 0 auto;
  }
  
  .slick-slide > div {
    height: 100%;
  }
  
  .slick-slider,
  .slick-list,
  .slick-track {
    height: 100%;
  }
  .specialOfferTilesContainer{
    display: flex;
    flex-direction: row;
  }