:root{
  --darkBlue: #3B3561;
  --white: #ffffff;
  --lightRose: #E8BBCF;
  --darkRose: #cca3b6;
  --lightMint: #3BCEAC;
  --darkMint: #2a997f;
  --fontSize30: 30px;
  --fontSize24: 24px;
  --fontSize16: 16px;
  --fontSize28: 28px;
  --fontSize20: 20px;
  --fontSize18: 18px;
  --fontWeightBold: 500;
  --fontWeightSemiBold:400;
  --font: "Newsreader";
}


body{
  margin: 0;
  background-color: var(--white);
  color: var(--darkBlue);
  --font: "Newsreader";
}
button{
  all: unset;
  cursor: pointer;
}
a{
  all: unset;
  cursor: pointer;
}